@model IEnumerable<ProjetoNutri.Models.Circuferencia>

@{
    ViewData["Title"] = "Circuferencias do Projeto";
}

<h2>Circuferencias do Projeto</h2>
<br>
<a asp-action="AntropometriaProjeto" asp-controller="Projeto" asp-route-projetoId="@ViewData["ProjetoId"]" class="btn btn-secondary">Voltar</a>
<br>    
<table class="table">
    <thead>
        <tr>
            <th>RCQ</th>
            <th>Classificação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var circulferencia in Model)
        {
            <tr>
                <td>@circulferencia.Rcq</td>
                <td>@circulferencia.Classificacao</td>
                <td>
                    <a asp-action="Editar" asp-route-id="@circulferencia.Id" class="btn btn-secondary">Editar</a> 
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CriarCircuferencia" asp-route-projetoId="@ViewData["ProjetoId"]" class="btn btn-secondary">Adicionar Nova Circuferência</a>
