@model IEnumerable<ProjetoNutri.Models.Circunferencia>

@{
    ViewData["Title"] = "Circuferencias do Projeto";
}

<h2>Circuferencias do Projeto</h2>
<br>
<a asp-action="AntropometriaProjeto" asp-controller="Projeto" asp-route-projetoId="@ViewData["ProjetoId"]" class="btn btn-secondary">Voltar</a>
<br>    
<table class="table">
    <thead>
        <tr>
            <th>RCQ</th>
            <th>Classificação</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var circunferencia in Model)
        {
            <tr>
                <td>@circunferencia.Rcq</td>
                <td>@circunferencia.Classificacao</td>
                <td> 
                    <a asp-action="DetalheCircunferencia" asp-route-id="@circunferencia.Id" class="btn btn-secondary">Detalhe</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="CriarCircunferencia" asp-route-projetoId="@ViewData["ProjetoId"]" class="btn btn-secondary">Adicionar Nova Circuferência</a>