@model ProjetoNutri.Models.Imc

@{
    ViewData["Title"] = "Detalhes do IMC";
}

<h2>IMC</h2>

<div>
    <p><strong>Projeto:</strong> @Model.Projeto.NomeProjeto</p>
    <p><strong>Paciente:</strong> @Model.Projeto.Paciente.Nome</p>
    <p><strong>Peso:</strong> @Model.Peso.ToString("F3") kg</p>
    <p><strong>Altura:</strong> @Model.Altura.ToString("F2") m</p>
    <p><strong>IMC:</strong> @Model.ValorImc.ToString("F2")</p>
    <p><strong>Classificação:</strong> @Model.Classificacao</p>
</div>

<div>
    <a asp-action="EditarImc" asp-route-id="@Model.Id" class="btn btn-secondary">Editar</a>
    <form asp-action="DeletarImc" method="post" style="display:inline;">
    <input type="hidden" name="id" value="@Model.Id" />
    <button type="submit" class="btn btn-secondary delete-button">Deletar</button>
</form>
    <a asp-action="AntropometriaProjeto" asp-controller="Projeto" asp-route-projetoId="@Model.IdProjeto" class="btn btn-secondary">Voltar</a>
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $('.delete-button').on('click', function(e) {
                var confirmed = confirm('Você tem certeza que deseja deletar este IMC?');
                if (!confirmed) {
                    e.preventDefault();
                }
            });
        });
    </script>
}
