@model ProjetoNutri.Models.ProjetoImcViewModel

@{
    ViewData["Title"] = "Antropometria do Projeto";
}

<h1>Antropometria</h1>

<a asp-action="DetalheProjeto" asp-route-id="@Model.Projeto.Id" class="btn btn-secondary">Voltar para o Projeto</a>
<br><br>

<div>
    <h4>Projeto: @Model.NomeProjeto</h4>
    <h5>Paciente: @Model.Paciente.Nome @Model.Paciente.Sobrenome</h5>
</div>

<hr>

<!-- Botões de navegação -->
<div>
    <a asp-action="IndexImc" asp-controller="Imc" asp-route-projetoId="@Model.Id" class="btn btn-secondary">Índice de Massa Corporal (IMC)</a>
    <a asp-action="IndexCircunferencia" asp-controller="Circunferencia" asp-route-projetoId="@Model.Id" class="btn btn-secondary">Circunferências</a>
    <a asp-action="PregasCutaneas" asp-controller="Medidas" asp-route-projetoId="@Model.Id" class="btn btn-secondary">Pregas Cutâneas</a>
</div>

<!-- Certifique-se de carregar o script jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Ao clicar no botão de toggle
        $("#toggleForm").click(function () {
            // Alterna a visibilidade do formulário
            $("#formImc").toggle();
        });
    });


</script>



<!-- Certifique-se de carregar o script jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Ao clicar no botão de toggle
        $("#toggleFormImc").click(function () {
            // Alterna a visibilidade do formulário
            $("#formImc").toggle();
        });

        $("#toggleFormCircunferencia").click(function () {
            // Alterna a visibilidade do formulário
            $("#formCircunferencia").toggle();
        });

        $("#toggleFormPrega").click(function () {
            // Alterna a visibilidade do formulário
            $("#formPrega").toggle();
        });
    });


</script>