@model ProjetoNutri.Models.ProjetoImcViewModel

@{
    ViewData["Title"] = "Antropometria do Projeto";
}

<h1>Antropometria</h1>

<a asp-action="DetalheProjeto" asp-route-id="@Model.Projeto.Id" class="btn btn-secondary">Voltar para o Projeto</a>
<br><br>

<div>
    <h4>Projeto: @Model.Projeto.NomeProjeto</h4>
    <h5>Paciente: @Model.Projeto.Paciente.Nome @Model.Projeto.Paciente.Sobrenome</h5>
</div>

<hr>

<!-- Botões de navegação -->
<div>
    <a asp-action="IndexImc" asp-controller="Imc" asp-route-projetoId="@Model.Projeto.Id" class="btn btn-secondary">Índice de Massa Corporal (IMC)</a>
    <a asp-action="IndexCircuferencia" asp-controller="Circuferencia" asp-route-projetoId="@Model.Projeto.Id" class="btn btn-secondary">Circunferências</a>
    <a asp-action="PregasCutaneas" asp-controller="Medidas" asp-route-projetoId="@Model.Projeto.Id" class="btn btn-secondary">Pregas Cutâneas</a>
</div>

<!-- Botão para abrir o formulário de IMC -->
<button id="toggleForm" class="btn btn-primary mt-4">Adicionar IMC</button>

<!-- Formulário de IMC (inicialmente oculto) -->
<div id="formImc" style="display:none; margin-top: 20px;">
    <h3>Criar IMC</h3>
    <form asp-action="CriarImc" asp-controller="Imc" method="post">
        <input type="hidden" name="IdProjeto" value="@Model.Projeto.Id" />
        
       <div class="form-group">
            <label for="Peso">Peso</label>
            <input type="text" class="form-control" id="Peso" name="Peso" step="any" min="0"  />
        </div>
        
        <div class="form-group">
            <label for="Altura">Altura</label>
            <input  type="text" class="form-control" id="Altura" name="Altura" step="any" min="0" />
        </div>
        
        <button type="submit" class="btn btn-success mt-3">Salvar IMC</button>
    </form>
</div>

<!-- Certifique-se de carregar o script jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        // Ao clicar no botão de toggle
        $("#toggleForm").click(function () {
            // Alterna a visibilidade do formulário
            $("#formImc").toggle();
        });
    });


</script>
