@model ProjetoNutri.Models.Paciente

@{
    ViewData["Title"] = "Detalhes do Paciente";
}

<h1>Detalhes do Paciente</h1>

<div>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sobrenome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sexo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sexo)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefone)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataCadastro)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataCadastro)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ativo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ativo)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Editar" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Deletar" asp-route-id="@Model.Id" class="delete-link">Deletar</a> |
    <a asp-action="Index">Voltar para a lista</a> |
    <a asp-action="IndexProjeto" asp-controller="Projeto" asp-route-pacienteId="@Model.Id">Ver Lista de Projetos</a>
</div>
