@model IEnumerable<ProjetoNutri.Models.Paciente>

@{
    ViewData["Title"] = "Listagem de Pacientes";
}

<div class="tela-pacientes">

    <!-- Botão acima do título principal -->
    <div class="area-botao-criar">
        <a asp-action="Criar" class="btn btn-secondary btn-criar-paciente">
            <i class="bi bi-person-plus cara"></i> Novo Paciente
        </a>
    </div>

    <!-- Contêiner para os cards com rolagem -->
    <div class="lista-pacientes-container">
        <div class="lista-pacientes">
            <div class="cabecalho-tela">
                <h1>Listagem de Pacientes</h1>
            </div>
            @foreach (var item in Model)
            {
                <div class="paciente-card">
                    <div class="informacoes">
                        <div class="nome-paciente">
                            <strong>@($"{item.Nome} {item.Sobrenome}")</strong>
                        </div>
                        <div class="detalhes-paciente">
                            <div class="telefone-paciente">
                                <span class="fonte-telefone-e-insta"><i class="bi bi-phone"></i> @item.Telefone</span>
                            </div>
                            <div class="instagram-paciente">
                                <span class="fonte-telefone-e-insta"><i class="bi bi-instagram"></i> @item.Instagram</span>
                            </div>
                            <div class="acoes">
                                <a asp-action="Detalhe" asp-route-id="@item.Id"  title="Ver detalhes">
                                    <i class="bi bi-eye-fill"></i>
                                </a>
                                <a asp-action="IndexProjeto" asp-controller="Projeto" asp-route-pacienteId="@item.Id"  title="Ver projetos">
                                    <i class="bi bi-folder-fill"></i>
                                </a>
                                <form asp-action="Deletar" method="post" class="d-inline" onsubmit="return confirm('Tem certeza que deseja excluir este paciente?');">
                                    <input type="hidden" name="Id" value="@item.Id" />
                                    <button type="submit" class="icone-acao" title="Excluir Paciente">
                                        <i class="bi bi-trash2-fill"></i>
                                    </button>
                                </form>
                            </div>
                        </div>  
                    </div>
                </div>
            }
        </div>
    </div>
</div>
